{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript",
    "next/babel"
  ],
  "plugins": ["inline-react-svg", ["styled-components", { "ssr": true }]]
}
